<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Uom Data Form</title>
</head>
<body>
	<div th:insert="fragments/lib :: headmenu"></div>
	<div th:insert="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<div class="form-group">
					<div class="row text-center">
						<div class="col-5 text-center">
							<form th:action="@{all}" method="GET">
								<div class="row">
									<div class="col-10">
										<input type="text" name="name" placeholder="Search..."
											class="form-control" />
									</div>

									<div class="col-2">
										<input type="submit" value="Search" class="btn btn-secondary" />

									</div>
								</div>
							</form>
						</div>
						<div class="col-2">
							<a th:href="@{/purchaseorder/excel}"
								class="btn btn-warning btn-md "><i class="fas fa-file-excel"></i></a>
							&nbsp; <a th:href="@{/purchaseorder/pdf}"
								class="btn btn-secondary btn-md "><i class="fas fa-file-pdf"></i></a>
						</div>
					</div>
				</div>
				<table
					class="table table-striped table-bordered table-hover text-center">
					<thead>
						<tr class="bg-dark text-white">
							<th>S.NO</th>
							<th>ID</th>
							<th>TYPE</th>
							<th>MODEL</th>
							<th colspan="5">OPERATIONS</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="ob,serial:${page}">
							<tr
								th:class="${serial.even == true ? 'text-primary' : 'text-success'}">
								<td th:text="${serial.count}"></td>
								<td th:text="${ob.id}"></td>
								<td th:text="${ob.uomType}"></td>
								<td th:text="${ob.uomModel}"></td>
								<td><a th:href="@{/uom/edit/{id}(id=${ob.id})}"
									class="btn btn-success"><i class="far fa-edit"></i></a></td>
								<td><a th:href="@{/uom/view/{id}(id=${ob.id})}"
									class="btn btn-info"><i class="far fa-eye"></i></a></td>
								<td><a th:href="@{/uom/delete/{id}(id=${ob.id})}"
									class="btn btn-danger"><i class="fas fa-trash-alt"></i></a></td>
								<td><a th:href="@{/uom/excel/{id}(id=${ob.id})}"
									class="btn btn-warning"><i class="fas fa-file-excel"></i></a></td>
								<td><a th:href="@{/uom/pdf/{id}(id=${ob.id})}"
									class="btn btn-warning"><i class="fas fa-file-pdf"></i></a></td>
							</tr>
							<!-- <tr><td>&nbsp;</td></tr> -->
						</th:block>
					</tbody>
				</table>

			</div>
			<!-- body end -->
			<div th:if="${message!=null}">
				<div class="card-footer bg-info text-white text-center">
					<b><span th:text="${message}"></span></b>
				</div>
				<!-- footer end -->
			</div>
			<!-- condition end -->
		</div>
		<!-- card end -->
		<br />
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">


				<li th:if="${page.hasPrevious()}" class="page-item"><a
					class="page-link" th:href="@{/uom/all(page=${page.number-1})}">Previous</a>
				</li>


				<th:block th:each="i,ac:${#numbers.sequence(0,page.totalPages-1)}">
					<li
						th:class="${ac.index == page.number ? 'page-item active': 'page-item '}">
						<a class="page-link " th:href="@{/uom/all(page=${i})}">[[${i+1}]]
					</a>
					</li>
				</th:block>

				<li th:if="${page.hasNext()}" class="page-item"><a
					class="page-link" th:href="@{/uom/all(page=${page.number+1})}">Next</a></li>
			</ul>
		</nav>
	</div>
	<!-- container end -->


</body>
</html>