<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>WhUserType Data Details</title>

</head>
<body>
	<div th:insert="fragments/lib :: headmenu"></div>
	<div th:insert="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-body">
			<div class="form-group">
					<div class="row text-center">
						<div class="col-5">

							<form th:action="@{all}" method="GET" >
								<div class="row">
									<div class="col-10">
										<input type="text" name="name" placeholder="Search..."
											class="form-control" />
									</div>

									<div class="col-2">
										<input type="submit" value="Search" class="btn btn-secondary" />

									</div>
								</div>
							</form>
						</div>
						<div class="col-2">
							<a th:href="@{/whusertype/excel}"
								class="btn btn-warning btn-md "><i class="fas fa-file-excel"></i></a>
							&nbsp; <a th:href="@{/whusertype/pdf}"
								class="btn btn-secondary btn-md "><i class="fas fa-file-pdf"></i></a>

						</div>
					</div>
				</div>
				<table class="table table-hover text-center">
					<thead class="bg-dark text-white font-weight-light">
						<tr>
							<th>ID</th>
							<th>TYPE</th>
							<th>CODE</th>
							<th>EMAIL</th>
							<th colspan="5">OPERATIONS</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ob:${list}">
							<td th:text="${ob.id}"></td>
							<td th:text="${ob.userType}"></td>
							<td th:text="${ob.userCode}"></td>
							<td th:text="${ob.userEmail}"></td>
							<td><a th:href="@{/whusertype/edit/{id}(id=${ob.id})}"
								class="btn btn-success">EDIT</a></td>
							<td><a th:href="@{/whusertype/view/{id}(id=${ob.id})}"
								class="btn btn-info">View</a></td>
							<td><a th:href="@{/whusertype/delete/{id}(id=${ob.id})}"
								class="btn btn-danger">DELETE</a></td>
							<td><a th:href="@{/whusertype/excel/{id}(id=${ob.id})}"
								class="btn btn-warning"><i class="fas fa-file-excel"></i></a></td>
							<td><a th:href="@{/whusertype/pdf/{id}(id=${ob.id})}"
								class="btn btn-warning"><i class="fas fa-file-pdf"></i></a></td>
						</tr>
					</tbody>
				</table>

			</div>
			<!-- body end -->
			<div th:if="${message!=null}">
				<div class="card-footer bg-info text-white text-center">
					<b><span th:text="${message}"></span></b>
				</div>
				<!-- footer end -->
			</div>
			<!-- condition end -->
		</div>
		<!-- card end -->
	</div>
	<!-- container end -->
</body>
</html>